* {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 35vh;
}

.container-content h2{
    margin-bottom: -10px;
}

.container-content ol {
    margin-left: -10px;
    list-style: none;
}

.container-content ol a{
    text-decoration: none;
    text-transform: uppercase;
}

.container-content ol a:visited {
    color: black;
}

.container-content ol a:hover {
    background-color: pink;
}