* {
    font-family: 'Courier New', Courier, monospace;
}

.recipe-card {
    display: flex;
    justify-content: center;
}

.recipe-content {
    width: 50vw;
    min-width: 375px;
    max-width: 800px;
    padding: 25px 40px;
    margin-bottom: 10px;
}

.recipe-content .recipe-header,
.recipe-content .recipe-ingredients {
    margin-bottom: 50px;
}

.recipe-content .recipe-header {
    text-align: center;
}

.recipe-content .recipe-header h1 {
    font-size: 36px;
}

.recipe-content img{
    width: 350px;
    height: auto;
}

.recipe-content .recipe-ingredients h2,
.recipe-content .recipe-steps h2{
    text-decoration: underline;
}

.recipe-content .recipe-steps li p {
    font-weight: bold;
}

.recipe-content .recipe-steps li ul li {
    margin-bottom: 10px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    text-transform: uppercase;
}

footer a:visited {
    color: black;
}

footer a:hover {
    background-color: pink;
}